@font-face {
    font-family: Montserrat;
    src: url('../asset/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: pacifico;
    src: url('../asset/fonts/pacifico/Pacifico-Regular.ttf');
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html>body {
    font-family: Montserrat;
    height: 2000px;
    scroll-behavior: smooth;
}


img {
    object-fit: cover;
}

/* Start nav */
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-dark);
    color: var(--bs-light);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 1px 1px var(--bs-green);
    z-index: 9999;
}

.nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav .brand {
    font-family: pacifico;
    font-size: 1.5rem;
}

.mobile-btn {
    display: none;
}

.main-nav a {
    text-decoration: none;
    color: rgb(248, 249, 250, .6);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: var(--bs-light);
}

/* End nav */

/* Start hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    color: var(--bs-light);

    overflow: hidden;
    background-image: linear-gradient(45deg, var(--bs-teal) 50%, var(--bs-gray-dark) 50%);

}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .left a {
    font-size: .8rem;
    text-decoration: none;
    color: var(--bs-gray-dark);
    margin: .7rem auto;
}

.hero .left a:hover {
    color: var(--bs-dark);
    transform: scale(1.1);

}

.hero .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 1rem;
    /* border-bottom: 0.1rem solid var(--bs-light);
    border-top: 0.1rem solid var(--bs-light); */
}

.hero .hello {
    font-size: 1.5rem;
}

.hero .name {
    text-align: center;
}

.hero .name span {
    font-weight: bold;
}

.hero .tagline {
    position: relative;
    height: 2.5rem;
    font-size: 1.8rem;
    text-align: center;
}

.hero .tagline::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: var(--bs-success);
    width: .3rem;
    height: 100%;
    /* animation: writing-mode 350ms infinite; */
    opacity: 1;
}

@keyframes writing-mode {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

.hero .right {
    font-size: .6rem;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    position: relative;

}

.hero .right::after {
    content: "\00bb";
    display: block;
    position: absolute;
    text-align: center;
    left: 50%;
    margin-left: -0.25rem;
    animation: arrow-to-bottom 1s linear alternate infinite;
}

@keyframes arrow-to-bottom {
    from {
        bottom: -7px;
    }

    to {
        bottom: -9px;
    }
}

/* End hero */

/* Start about */
.about,
.hobby,
.contact {
    width: 100%;
    background-color: var(--bs-gray-dark);
    padding: 2rem 0;
}

.about .container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--bs-light);
}

[class*="-title"] {
    width: 100%;
    margin-bottom: 2.5rem;
}

[class*="-title"] h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: var(--bs-light);
}

[class*="-title"] h3::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -7rem;
    background-color: var(--bs-teal);
    width: 5rem;
    height: .2rem;
}

.about-logo {
    border-radius: 50%;
    overflow: hidden;
}

.about-logo img {
    display: block;
    width: 12rem;
    height: 12rem;
    /* transform: rotate(20deg); */
}

.about-me,
.about-skill-bars,
.about-me-card-test {
    flex: .5;
    background-color: var(--bs-dark);
    border-radius: 1rem;
    padding: .5rem;
    margin: 1rem;
    text-align: left;
    border-top: 1px solid var(--bs-teal);
    border-bottom: 1px solid var(--bs-teal);
    height: 10rem;
}



.about-me-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    /* color: var(--bs-teal); */
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.about-me-title span {
    color: var(--bs-teal);
}

.about-me hr {
    color: var(--bs-teal);
}

.about-me-description {
    font-size: .7rem;
    text-indent: 1rem;
    margin-bottom: 1rem;
}

.about-me-personal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    align-items: center;
    font-size: .7rem;
}

.about-me-personal span {
    margin-right: 1rem;
    color: var(--bs-teal);
}

.about-skill-bars .bar {
    position: relative;
    font-size: .65rem;
    padding: .2rem;
    margin: .7rem 0;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.about-skill-bars .bar::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    border-radius: .5rem;
    width: 100%;
    z-index: 9;
    background-color: var(--bs-teal);
    margin-top: .1rem;
}

.about-skill-bars .bar span {
    position: absolute;
    font-size: .5rem;
    bottom: -17px;
    right: -.7rem;
    color: var(--bs-white);
    /* padding: .1rem; */
    text-align: center;
}

.about-skill-bars .bar span::after {
    content: "";
    display: block;
    bottom: 100%;
    left: 50%;
    margin-left: -0.2rem;
    position: absolute;
    border-width: .2rem;
    border-style: solid;
    border-color: transparent transparent var(--bs-teal) transparent;
}

.about-skill-bars .python {
    width: 90%;
}

.about-skill-bars .javascript {
    width: 45%;
}

.about-skill-bars .html {
    width: 85%;
}

.about-skill-bars .css {
    width: 65%;
}

.about-me-card-test {
    flex: unset;
    overflow: hidden;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: pacifico;
    background-image: linear-gradient(45deg, var(--bs-dark) 50%, var(--bs-teal) 50%);
}

.about-me-card-test p {
    text-align: center;
}

/* End about */

/* Start hobby */
.hobby {
    width: 100%;
    background-color: var(--bs-gray-dark);
    padding: 3rem 0;
}

.hobby .container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--bs-light);
}

.hobby-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 12rem;
    height: 14rem;
    border-radius: .5rem;
    background-color: var(--bs-teal);
    margin: 1.5rem 2.5rem;
    transition: .5s;
}

.hobby-card:hover {
    background-color: var(--bs-dark);

}

.hobby-card i {
    font-size: 5rem;
}

.hobby-card hr {
    width: 100%;
    border-color: var(--bs-white);
}

.hobby-card p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

/* End hobby */

/* Start contact */

.contact {
    width: 100%;
    background-color: var(--bs-gray-dark);
}


.contact .container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .side>* {
    margin: 1.5rem;
    color: var(--bs-white);
}

.contact .side>*>h4 {
    font-weight: bold;
    word-spacing: .2rem;
    margin-left: -1.5rem;
}

.contact .side>*>p {
    margin-top: .5rem;
}

.contact textarea::placeholder,
.contact form::placeholder {
    font-family: Montserrat;

}

.contact form {
    margin: 2rem auto;
}

.contact .container input {
    height: 1.5rem;
}

.contact .container input,
.contact .container textarea {
    width: 100%;
    margin: 1.5rem 0;
    border: none;
    border-radius: .1rem;
    border-bottom: .1rem solid var(--bs-teal);
    background-color: var(--bs-dark-gray);
    box-shadow: none;
    resize: none;
    caret-color: white;
    color: white;
}

.contact .container input:hover,
.contact .container textarea:hover {
    outline: none
}

.contact .container input:focus,
.contact .container textarea:focus {
    outline: none
}

.contact .container button {
    outline: none;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem;
    background-color: var(--bs-teal);
    color: var(--bs-white);
}

/* End contact */

/* Start Footer */
.footer {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--bs-dark);
    border-top: .1rem solid var(--bs-teal);
}

.footer .container {
    color: var(--bs-white);
    margin: auto;
    text-align: center;
}

/* End Footer */

.topTop {
    width: 5rem;
    height: 8rem;
    background-color: var(--bs-teal);
    position: fixed;
    bottom: 0;
    /* top: 100; */
}
